%button {
  font-weight: 500;
  margin-top: 50px;
  padding: 10px 25px;
  font-size: 17px;
  border-radius: 20px;
  background-color: white;
  color: black;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    background-color: black;
    color: white;
  }
  &:focus {
    outline: none;
  }
}
